{
	"clients": [
		{
			"lastfmUsername": "example",
			"mastodonUsername": "example@mastodon.social",
			"mastodonAccessToken": "key"
		}
	],
	"config": {
		"lastfmKey": "key",
		"mastodonURL": "https://mastodon.social",
		"mastodonKey": "key",
		"mastodonSecret": "key"
	}
}
