{
	"clients": [
		{
			"lastfmUsername": "example",
			"twitterAccessToken": "key",
			"twitterAccessSecret": "key"
		}
	],
	"config": {
		"lastfmKey": "key",
		"twitterConsumerKey": "key",
		"twitterConsumerSecret": "key"
	}
}